@import url(https://db.onlinewebfonts.com/c/72a681ab4895977fc23fbe7c149455be?family=Helvetica+Rounded);
@import url(https://db.onlinewebfonts.com/c/bae3d8bd0621c2cc191f2d9926f4b382?family=Helvetica+Rounded+LT+Std+Black);

body {
  font-family: Helvetica Rounded;
  margin: 0;
}

.logo {
  width: 10%;
}

header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffc80b;
}

nav ul li {
  display: inline-block;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: "white";
}
.wrapper-contact {
  display: flex;
  justify-content: space-around;
  margin-top: 5px;
  margin-bottom: 100px;
}
.contacts {
  border: solid 10px black;
  border-radius: 30px;
  padding-left: 150px;
  padding-right: 150px;
  margin-top: 5%;
}
.contacts h1 {
  font-size: 50px;
}

.contacts h1 {
  font-size: 33px;
}

.bloemen {
  background-color: red;
}
.bloemetjes {
  width: 100%;
  z-index: 1;
  animation-name: flowers-up;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  transform: translateY(-800px);
}
@keyframes flowers-up {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-800px);
  }
}
