@import url(https://db.onlinewebfonts.com/c/72a681ab4895977fc23fbe7c149455be?family=Helvetica+Rounded);
@import url(https://db.onlinewebfonts.com/c/bae3d8bd0621c2cc191f2d9926f4b382?family=Helvetica+Rounded+LT+Std+Black);

body {
  font-family: Helvetica Rounded;
  margin: 0;
}

/************************************************ NAVIGATION BAR ***************************************************************/

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffc80b;
  position: fixed;
}

.logo {
  margin-left: 40px;
}

nav ul li {
  display: inline-block;
  margin-right: 50px;
}

nav ul li a {
  text-decoration: none;
  color: "white";
  display: inline-block;
  transition: background-color 0.5s, transform 0.5s;
}

nav ul li a:hover {
  background-color: #015599;
  transform: scale(1.3);
}

nav a {
  background-color: #f26522;
  padding: 20px;
  border-radius: 230px;
  color: white;
}

/***********************************************HOME PAGE******************************************************************/
.wrapper-index {
  height: 100vh;
  background-image: url(images/index-background.PNG);
  background-size: cover;
  top: 0;
  overflow: hidden;
}

.index-titel {
  background-color: #ffc80b;
}

/***********************************************Vaardigheden******************************************************************/
.werk-fotos {
  margin-top: 2%;
  display: flex;
}

.werk-fotos img {
  width: 20%;
}
/************************************************ CONTACT INFO ***************************************************************/
.wrapper {
  height: 932px;
  overflow: hidden;
}
.wrapper-contact {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
  margin-bottom: 300px;
}

.contacts {
  padding-top: 25px;
  border: solid 10px black;
  border-radius: 30px;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 10%;
}
.contacts h1 {
  font-size: 60px;
}

.contacts ul {
  list-style: none;
  font-size: 30px;
  line-height: 70px;
}

.imgContacts {
  margin-top: 10%;
  width: 25%;
}

.bloemetjes {
  width: 100%;
  align-items: center;
  z-index: 1;
  animation-name: flowers-up;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  transform: translateY(-700px);
}
@keyframes flowers-up {
  from {
    display: none;
    transform: translateY(0);
  }
  to {
    transform: translateY(-700px);
  }
}
