@import url(https://db.onlinewebfonts.com/c/72a681ab4895977fc23fbe7c149455be?family=Helvetica+Rounded);
@import url(https://db.onlinewebfonts.com/c/bae3d8bd0621c2cc191f2d9926f4b382?family=Helvetica+Rounded+LT+Std+Black);

body {
  font-family: Helvetica Rounded;
  margin: 0;
}

/************************************************ NAVIGATION BAR ***************************************************************/

.navigation {
  width: calc(100% - 15px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffc80b;
  position: fixed;
  z-index: 2;
  padding: 20px;
}

.navigation li {
  display: inline;
  padding-right: 15px;
}
.navigation li:last-child {
  padding-left: 10px;
}

.logo {
  margin-left: 40px;
}

nav ul li {
  display: inline-block;
}

a {
  text-decoration: none;
  color: "white";
  display: inline-block;
  transition: background-color 0.5s, transform 0.5s;
  background-color: #f26522;
  padding: 15px;
  border-radius: 230px;
  color: white;
}

a:hover {
  background-color: #015599;
  transform: scale(1.3);
}

/*********************************************FOOTER***********************************************************************/
footer {
  background-color: #286f2b;
  padding: 20px;
  text-align: center;
}

footer p {
  color: aliceblue;
}

/***********************************************HOME PAGE******************************************************************/
.wrapper-index {
  background-image: url(images/background_nijntje.png);
  background-position: center;
  overflow: hidden;
}
.header-index {
  background-image: url(images/index-background.PNG);
  background-size: cover;
  width: 100%;
  height: auto;
  background-position: center;
}

.landing-text-flex {
  display: flex;
  align-items: center;
  height: 100vh;
}
.wrapper-index-text {
  width: 95%;
  margin: 0 auto;
}
.landing-index-text {
  width: 40%;
}

.landing-index-text h1,
h2,
p {
  color: aliceblue;
}
.landing-index-text h1 {
  font-size: 60px;
}

.landing-index-text h2 {
  font-size: 40px;
}

.project-image {
  transition: 0.5s;
}
.project-image:hover {
  transform: scale(1.2);
  z-index: 1;
}
.portfolio-titel {
  text-align: center;
  margin-top: 4%;
  color: #1a3a73;
  padding-top: 10px;
  padding-bottom: 10px;
}
.portfolio {
  display: flex;
  justify-content: space-around;
  margin-top: 4%;
  margin-bottom: 2%;
}
.portfolio h3 {
  color: #1a3a73;
}
.portfolio p {
  color: black;
}
.portfolio img {
  border: solid 10px #015599;
  background-color: #ffc80b;
  border-radius: 30px;
  padding: 10px;
}
.project-1,
.project-2,
.project-3 {
  background-color: #ffc80b;
  border: solid 10px #015599;
  border-radius: 30px;
  padding: 20px;
}
.portfolio div {
  width: 20%;
}

.introductie-item1 {
  display: flex;
  justify-content: space-around;
}

.introductie-item2 {
  display: flex;
  justify-content: space-around;
  margin-left: 200px;
}

.introductie-text {
  width: 50%;
  text-align: center;
  margin-top: 150px;
  margin-left: 60px;
  border: solid 10px #ffc80b;
  background-color: #015599;
  border-radius: 30px;
  padding: 100px;
  width: 50%;
}

.introductie-text h2,
p {
  color: aliceblue;
}
.intro-button:hover {
  background-color: #ffc80b;
}

.image-nijntje-balloon,
.image-balloon {
  animation-name: zweef;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  z-index: 1;
  transform: translateY(-30px);
}

@keyframes zweef {
  from {
    transform: translateY(150px);
  }
  to {
    transform: translateY(-60px);
  }
}

@keyframes draai {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.image-nijntje-balloon:hover {
  animation-play-state: paused;
}

.image-balloon:hover {
  animation-play-state: running;
  animation: draai 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}

.footer-homepage {
  margin-top: 120px;
}

@media screen and (max-width: 1900px) {
  .mobile {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  .header-index {
    height: auto;
  }
  .landing-text-flex {
    width: 100%;
  }
  .landing-index-text {
    width: 100%;
  }
  .portfolio div {
    width: 100%;
  }
}
/***********************************************VAARDIGHEDEN******************************************************************/
.wrapper-vaardigheden {
  overflow: hidden;
  background-image: url(images/background_nijntje.png);
}
.landing {
  margin-top: 200px;
}
.image-landing {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  border: solid 10px #ffc80b;
}

#section1 {
  margin-top: 150px;
}
.titel-center {
  text-align: center;
}

.items-educatie {
  display: flex;
  justify-content: space-between;
}
.item1-educatie,
.item2-educatie,
.item1-ervaring,
.item2-ervaring,
.item3-ervaring {
  background-color: #015599;
  color: aliceblue;
  margin: 60px;
  border-radius: 30px;
  border: solid 10px #ffc80b;
  padding: 20px;
  width: 20%;
  z-index: 1;

  transition: background-color 0.5s, transform 1s;
}
.item1-educatie {
  margin-left: 220px;
}
.item2-educatie {
  margin-right: 400px;
}
.nijntje-run {
  animation: run 5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: ease-in-out;
}
.nijntje-run:hover {
  animation-play-state: paused;
}
@keyframes run {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(1500px);
  }
}

.item1-educatie:hover,
.item2-educatie:hover,
.item1-ervaring:hover,
.item2-ervaring:hover,
.item3-ervaring:hover {
  transform: scale(1.1);
  background-color: #f26522;
}
.item1-ervaring:hover,
.item2-ervaring:hover,
.item3-ervaring:hover {
  transform: scale(1.1);
  background-color: #286f2b;
}
.items-ervaring {
  display: flex;
  justify-content: space-between;
  transition: background-color 0.5s, transform 1s;
}

.items-ervaring img {
  border: solid 10px #ffc80b;
  border-radius: 30px;
}

/************************************************ CONTACT INFO ***************************************************************/
.wrapper-overflow {
  height: 1050px;
  overflow: hidden;
  background-image: url(images/background_nijntje.png);
}
.wrapper-contact {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
  margin-bottom: 300px;
}

.contacts {
  padding-top: 25px;
  background-color: #015599;
  border: solid 10px #ffc80b;
  border-radius: 30px;
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 10%;
}
.contacts:hover {
  transition: 0.8s;
  transform: scale(1.1);
}
.contacts h1 {
  color: aliceblue;
  font-size: 60px;
}

.contacts ul {
  color: aliceblue;
  list-style: none;
  font-size: 30px;
  line-height: 70px;
}

.imgContacts {
  margin-top: 10%;
  width: 25%;
  animation: bunny-hop 0.5s ease;
  animation-delay: 1.2s;
  animation-iteration-count: 4;
  animation-direction: alternate;
}

.imgContacts:hover {
  animation: bunny-hop 0.5s ease;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.bloemetjes {
  width: 100%;
  align-items: center;
  z-index: 1;
  animation-name: flowers-up;
  animation-duration: 1.5s;
  animation-timing-function: ease-in-out;
  transform: translateY(-700px);
}

@keyframes bunny-hop {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50px);
  }
}

@keyframes flowers-up {
  from {
    display: none;
    transform: translateY(0);
  }
  to {
    transform: translateY(-700px);
  }
}
